
        @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

        * {
            margin: 0;
            padding: 0;
            font-family: Lobster, cursive;
        }

        .showcase {
            position: static;
            width: 100%;
            min-height: 100vh;
            padding: 100px;
            right: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: black;
            color: rgb(255, 255, 255);

        }

        .menu {
            display: flex;
        }

        .showcase header {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 50px;
            z-index: 1000;

        }

        .logo {
            text-transform: capitalize;
            cursor: pointer;
        }

        .showcase img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0.5;
        }

        .text {
            position: relative;
            z-index: 10;
        }

        .text h2 {
            font-size: 5em;
            font-weight: 100;
            line-height: 1em;
        }

        .text h3 {
            font-size: 4em;
            font-weight: 100;
            line-height: 2em;
        }

        .text p {
            font-size: 1em;
            margin: 20px;
            max-width: 600px;
            font: weigth 200px;
        }

        .text a {
            display: inline-block;
            font-size: 1em;
            background-color: white;
            padding: 10px 30px;
            text-decoration: none;
            color: black;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: burlywood;
            mix-blend-mode: overlay;
        }

        .social {
            position: absolute;
            bottom: 10px;
            z-index: 10;
            display: flex;
            align-items: center;


        }

        .social li {
            list-style: none;
            margin-right: 20px;
            transform: scale(0.8);
            cursor: pointer;
        }

        .menu {
            position: absolute;
            top: 0;
            right: 0;
            width: 300px;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .menu ul {
            list-style: none;
            position: relative;
            margin: 100px;

        }

        .menu ul li a {
            text-decoration: none;
            font-size: 1em;
            color: white;
            cursor: pointer;


        }
